<div class="container row">
  <div class="container shadow col">
    <div *ngIf="role == 'Admin'" class="row m-2">
      <label class="form-label col-sm-3">Type de compte à créer :</label>
      <div class="col-sm-3">
        <select class="form-control" [(ngModel)]="typeCompte">
          <option value="Admin">Administrateur</option>
          <option value="Fournisseur">Fournisseur</option>
          <option value="Employe">Employé</option>
          <option value="Intervenant">Intervenant</option>
          <option value="Client">Client</option>
        </select>
      </div>
    </div>

    <form (ngSubmit)="validate()" [formGroup]="form">
      <div class="row m-2">
        <label class="form-label col-sm-3">Login</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" formControlName="login" />
        </div>
        <div
          class="col-sm-3 p-2"
          *ngIf="form.controls['login'].dirty && form.controls['login'].invalid"
        >
          Ce login est déjà utilisé
        </div>
      </div>

      <div fromGroupName="group1">
        <div class="row m-2">
          <label class="form-label col-sm-3">Mot de passe :</label>
          <div class="col-sm-3">
            <input
              [formControl]="passwordCtrl"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        <div class="row m-2">
          <label class="form-label col-sm-3">Confirmer le mot de passe :</label>
          <div class="col-sm-3">
            <input [formControl]="confirmCtrl" class="form-control" />
          </div>
        </div>
        <div class="row m-2">
          <div class="col-sm-3"></div>
          <div
            class="col-sm-3"
            *ngIf="
              form.controls['passwordGroup'].dirty &&
              form.controls['passwordGroup'].invalid
            "
          >
            Les mots de passe ne correspondent pas
          </div>
        </div>
      </div>

      <div class="row m-2">
        <label class="form-label col-sm-3">Email</label>
        <div class="col-sm-3">
          <input
            type="email"
            class="form-control"
            placeholder="name@example.com"
            formControlName="mail"
          />
          <small id="emailHelp" class="form-text text-muted"
            >Nous ne partagerons pas votre adresse mail avec qui que ce soit
          </small>
        </div>
        <div
          class="col-sm-3 p-2"
          *ngIf="form.controls['mail'].dirty && form.controls['mail'].invalid"
        >
          Email invalide
        </div>
      </div>
      <div class="row m-2">
        <div class="col-sm-3">
          <label class="form-label">Date de naissance</label><br />
        </div>
        <div class="col-sm-2">
          <input type="date" class="form-control" formControlName="birthday" />
        </div>
        <div
          class="col-sm-3 p-2"
          *ngIf="
            form.controls['birthday'].dirty && form.controls['birthday'].invalid
          "
        >
          Si vous n'êtes pas majeur, vous ne pouvez pas créer de compte chez
          nous, désolé
        </div>
        <small id="birthdayHelp" class="form-text text-muted"
          >Vous devez être majeur pour créér un compte chez nous
        </small>
      </div>
      <div class="row m-2">
        <label class="form-label col-sm-3">Nom</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" formControlName="nom" />
        </div>
      </div>
      <div class="row m-2">
        <label class="form-label col-sm-3">Prénom</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" formControlName="prenom" />
        </div>
      </div>
      <div
        *ngIf="typeCompte == 'Fournisseur' || typeCompte == 'Intervenant'"
        class="row m-2"
      >
        <label class="form-label col-sm-3">Entreprise</label>
        <div class="col-sm-3">
          <input
            type="text"
            class="form-control"
            formControlName="entreprise"
          />
        </div>
      </div>
      <div *ngIf="typeCompte == 'Intervenant'" class="row m-2">
        <label class="form-label col-sm-3">Nom d'artiste</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" formControlName="artiste" />
        </div>
      </div>

      <div *ngIf="typeCompte == 'Employe'" class="row m-2">
        <label class="form-label col-sm-3">Bar d'affectation</label>
        <div class="col-sm-3">
          <select formControlName="bar" class="form-control">
            <option *ngFor="let b of bars | async" [ngValue]="b">
              {{ b.nom }}
            </option>
          </select>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
