
.ref {
  display: flex;
  position: relative;
  justify-content: center;
  flex-flow: row wrap;
  height: 400px;
  width: 300px;
  margin: 60px 30px 60px 30px;
}

.back {
  display: flex;
  background-color: var(--bckColorLight);
  width: inherit;
  height: inherit;
  border-radius: 20px 20px 20px 20px;
  border: 5px solid var(--bckColorLight);
  box-shadow: 5px 0px 5px 0px var(--bckColor), 0px 5px 5px 0px var(--bckColor);
  align-items: flex-end;
  justify-content: space-around;
}

.front {
  display: flex;
  position: absolute;
  background-color: var(--bckColorLight);
  width: inherit;
  height: inherit;
  border-radius: 20px 20px 20px 20px;
  border: 5px solid var(--bckColorLight);
  box-shadow: 5px 0px 5px 0px var(--bckColor), 0px 5px 5px 0px var(--bckColor);
  backface-visibility: hidden;
}

.otherFront {
  display: flex;
  position: absolute;
  background-color: var(--bckColorLight);
  width: inherit;
  height: inherit;
  border-radius: 20px 20px 20px 20px;
  border: 5px solid var(--bckColorLight);
  box-shadow: 5px 0px 5px 0px var(--bckColor), 0px 5px 5px 0px var(--bckColor);
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.txtCarte {
  font-size: 30px;
  font-weight: bold;
  font-family: monospace;
}

img{
  display: block;
  object-fit: scale-down;
  backface-visibility: hidden;
}

.anim {
  display: flex;
  left: 20px;
  bottom: 50px;
  position: absolute;
  width: inherit;
  height: inherit;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.anim2 {
  transform: rotateY(180deg);
}
