<div class="ref">
  <div class="back">
    <span class="txtCarte">{{ boisson.nom }}</span>
  </div>
  <div class="anim" [ngClass]="{ anim2: anim2 }">
    <div class="front">
      <img [src]="boisson.urlImage" alt="image" />
    </div>
    <div class="otherFront">
      <div class="description col-12">
        {{ boisson.description }}
      </div>
      <div class="prix col-12">
        {{ this.prix | currency: "€":"€":"1.2-2" }}
      </div>
      <div class="btnAdd col-12">
        <button type="button" class="btn btn-warning" (click)="addPanier()">
          Ajouter au panier
        </button>
      </div>
    </div>
  </div>
</div>
