.invisible {
  display: none !important;
}

.icon {
  color: var(--txtColor);
  width: 30px;
  font-size: 30px;
}

.iconX {
  color: red;
  width: 30px;
  font-size: 30px;
}

.listePanier {
  position: relative;
  background: var(--bckColor);
  height: fit-content;
  width: fit-content;
  border: 3px solid var(--scdColor);
  border-radius: 10px;
  padding: 10px;
  min-width: 420px;
  max-height: 500px;
  opacity: 0.9;
  overflow-y: scroll;
  margin-top: 100px;
  margin-bottom: 100px;
}

.listePanier::-webkit-scrollbar {
  display: none;
}

.item {
  color: var(--txtColor);
  display: flex;
  align-items: center;
}

.dashe {
  color: var(--txtColor);
  display: flex;
  justify-content: center;
}

.btnPaiement {
  position: relative;
  right: 15px;
}

.cacher {
  display: none !important;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.75s;
}

.btnQty {
  color: var(--titleColor);
  width: 20px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.qty {
  display: flex;
  justify-content: center;
}

.done {
  font-size: 30px;
}
