<div class="titre col-12"><h2>Connexion</h2></div>
<div class="page">
  <form (ngSubmit)="login()" [formGroup]="form" class="connexion row col-12">
    <div class="row">
      <div class="">
        <label class="form-label">Login :</label>
      </div>
      <div class="">
        <input formControlName="login" class="form-control" />
      </div>

      <div class="form-label"
        *ngIf="form.controls['login'].dirty && form.controls['login'].invalid"
      >
        Login invalide
      </div>
    </div>
    <div class="row">
      <div class="">
        <label class="form-label">Password :</label>
      </div>
      <div class="">
        <input class="form-control" formControlName="password" />
      </div>
    </div>

    <div class="row btnSub">
      <button class="btn btn-primary" [disabled]="form.invalid">Submit</button>
    </div>
  </form>

  <div class="row">
    <button
      routerLink="/inscription"
      routerLinkActive="active-link"
      class="btn btn-link"
    >
      Pas de Compte ? En créer un ici
    </button>
  </div>
</div>
