<div class="container">
  <h2>Liste des articles</h2>

  <div class="container p-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>id</th>
          <th>Libellé</th>
          <th>Type Produit</th>
          <th>Volume (L)</th>
          <th>Cout</th>
          <th>Fournisseur</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let a of articles | async"
          [articleRecu]="a"
          (articlesReady)="getNewListe($event)"
          (achat)="achat()"
          app-article
        ></tr>
      </tbody>
    </table>
  </div>

  <app-form-article
    (articlesReady)="getNewListe($event)"
    *ngIf="role == 'Fournisseur'"
    [id]="id"
  ></app-form-article>
</div>
<div class="popUp" [ngClass]="{'transparent' : pasAchat}">
  Achat effectué!
</div>
