<div class="container">
  <h2>Modifier une boisson de la carte</h2>
  <div class="form-group">
    <label>id:</label>
    <input [(ngModel)]="boisson.id" readonly class="form-control" />
  </div>
  <div class="form-group">
    <label>nom:</label>
    <input [(ngModel)]="boisson.nom" class="form-control" />
  </div>
  <div class="form-group" *ngFor="let u of utilisations">
    <label>Ingrédient:</label>
    <select
      [(ngModel)]="u.ingredient"
      class="form-control"
      [compareWith]="byId"
    >
      <option *ngFor="let s of stocks | async" [ngValue]="s">
        {{ s.articles![0].typeProduit }}
      </option>
    </select>
    <input type="number" [(ngModel)]="u.volume" class="form-control" />
  </div>

  <button class="btn btn-outline-primary" (click)="ajouterUtil()">
    Ajouter un ingédient
  </button>
  <div class="form-group">
    <label>Prix HT:</label>
    <input [(ngModel)]="boisson.prixHT" class="form-control" type="number" />
  </div>
  <div class="form-group">
    <label>Prix HT en HappyHour:</label>
    <input [(ngModel)]="boisson.prixHThh" class="form-control" type="number" />
  </div>
  <div class="form-group">
    <label>URL de l'image</label>
    <input
      [(ngModel)]="boisson.urlImage"
      class="form-control"
      type="text"
      size="255"
    />
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea
      [(ngModel)]="boisson.description"
      class="form-control"
      type="text"
      size="255"
    ></textarea>
  </div>

  <div *ngIf="!!boisson.id; else create">
    <button class="btn btn-outline-primary" (click)="save()">
      enregistrer
    </button>
    <a routerLink="/carte2" class="btn btn-link">annuler</a>
  </div>
  <ng-template #create>
    <button class="btn btn-outline-primary" (click)="saveAlcool()">
      Enregistrer un Alcool
    </button>
    <button class="btn btn-outline-primary" (click)="saveSoft()">
      Enregistrer un Soft
    </button>
    <a routerLink="/carte2" class="btn btn-link">annuler</a>
  </ng-template>
</div>
