<div class="container">
  <h2>Modifier une boisson de la carte</h2>
  <div class="form-group">
    <label>id:</label>
    <input [(ngModel)]="boisson.id" readonly class="form-control" />
  </div>
  <div class="form-group">
    <label>nom:</label>
    <input [(ngModel)]="boisson.nom" class="form-control" />
  </div>
  <div class="form-group" *ngFor="let u of utilisations">
    <label>Ingrédient:</label>
    <select [(ngModel)]="u.ingredient" class="form-control">
      <option *ngFor="let s of stocks | async" [ngValue]="s">
        {{ s.articles![0].typeProduit }}
      </option>
    </select>
    <input type="number" [(ngModel)]="u.volume" class="form-control" />
  </div>

  <button class="btn btn-outline-primary" (click)="ajouterUtil()">
    Ajouter un ingédient
  </button>
  <div>
    <button class="btn btn-outline-primary" (click)="saveSoft()">
      enregistrer
    </button>
    <a routerLink="/carte2" class="btn btn-link">annuler</a>
  </div>
</div>
