<p>stock-tableau works!</p>

<div class="container-fluid p-3">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>Type Produit</th>
        <th>Volume</th>
        <th>Seuil Limite</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Coca</td>
        <td>49.67</td>
        <td class="seuil__modif">null</td>
        <td>
          <a
            href="approvisionner_stock.html?typeProduit=typeProduit"
            class="btn btn-primary"
            role="button"
            >Approvisionner</a
          >

          <!-- Le bouton approvisionner permettra d'acfficher à l'écran tous
          les fournisseurs (et les articles) qui proposent des articles de
          ce type de produit pour ensuite effectuer un approvisionnement
-->
          <input
            class="btn btn-warning"
            type="submit"
            name=""
            value="Modifier Limite"
            onclick="toggle_modif()"
          />
          <input
            class="btn btn-danger"
            type="submit"
            name=""
            value="Supprimer"
          />
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Bière</td>
        <td>24.75</td>
        <td class="seuil__modif">null</td>
        <td>
          <a
            href="approvisionner_stock.html?id=1"
            class="btn btn-primary"
            role="button"
            >Approvisionner</a
          >
          <input
            class="btn btn-warning"
            type="submit"
            name=""
            value="Modifier Limite"
            onclick="toggle_modif()"
          />
          <input
            class="btn btn-danger"
            type="submit"
            name=""
            value="Supprimer"
          />
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Vodka</td>
        <td>0</td>
        <td class="seuil__modif">null</td>
        <td>
          <a
            href="approvisionner_stock.html?id=1"
            class="btn btn-primary"
            role="button"
            >Approvisionner</a
          >
          <input
            class="btn btn-warning"
            type="submit"
            name=""
            value="Modifier Limite"
            onclick="toggle_modif()"
          />
          <input
            class="btn btn-danger"
            type="submit"
            name=""
            value="Supprimer"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
