<div class="page">
  <div class="frame">
    <div class="col-12 titre">
      <h1>Notre carte:</h1>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
    <div class="ref">
      <div class="back">
        <span class="txtCarte">La 86</span>
      </div>
      <div class="anim">
        <div class="front">
          <img src="/assets/images/la86.png" alt="image" />
        </div>
        <div class="otherFront">du texte au pif</div>
      </div>
    </div>
  </div>
</div>
