<div *ngIf="idBar == 0 || idBar == null" [ngClass]="{ invisible: paiement }">
  <app-choix-bar></app-choix-bar>
</div>
<div class="page" *ngIf="idBar != 0">
  <button
    [ngClass]="{ invisible: paiement }"
    class="btn btn-primary btnBar"
    (click)="deleteBar()"
  >
    Changer de bar
  </button>
  <div [ngClass]="{ invisible: paiement }" class="col-12">
    <h1 class="titre">Notre carte:</h1>
  </div>
  <app-carte-item
    [ngClass]="{ invisible: paiement }"
    *ngFor="let Boisson of listeBoisson"
    [item]="Boisson"
    (commande)="addPanier($event)"
  ></app-carte-item>
  <app-panier
    [ngClass]="{ invisible: paiement }"
    [panier]="panier"
    [total]="total"
    (commande)="addPanier($event)"
    (paiement)="passerAuPaiement()"
  ></app-panier>
  <app-paiement
    [ngClass]="{ invisible: !paiement }"
    [panier]="panier"
    [total]="total"
  ></app-paiement>
</div>
