.page {
  width: 100vw;
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.titre {
  font-size: 60px;
  font-family: monospace;
  font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

.changementBar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnBar {
  position: absolute;
  top: 40px;
  display: flex;
  justify-content: flex-start;
  left: 5%;
  align-items: center;
}
