<div class="client" *ngIf="role == '' || role == 'Client'">
  <img src="/assets/images/LesDevs.png" alt="" class="cNous" />
</div>

<div class="page admin" *ngIf="role == 'Admin'">
  <div class="bienvenue row col-12">
    <h1 class="titre">Bienvenue!</h1>
  </div>
  <app-btn-accueil [txt]="'Consulter les boissons disponibles'" [path]="'carte2'"></app-btn-accueil>
  <app-btn-accueil [txt]="'Créer un compte'" [path]="'inscription'"></app-btn-accueil>
  <app-btn-accueil [txt]="'Consulter les stocks'" [path]="'stock'"></app-btn-accueil>
</div>

<div class="page fournisseur" *ngIf="role == 'Fournisseur'">
  <div class="bienvenue row col-12">
    <h1 class="titre">Bienvenue!</h1>
  </div>
  <app-btn-accueil></app-btn-accueil>
  <app-btn-accueil></app-btn-accueil>
</div>

<div>
  <button (click)="showMe()">Montre moi le tokken idBar</button>
  <tr></tr>
  <a href="/choixBar">
    <button (click)="showMe()" href="/choixBar">Going to page choixBar</button>
  </a>
  <tr></tr>
  <a href="/listStock">
    <button (click)="showMe()" href="/listStock">
      Going to page Stock list
    </button>
  </a>
  <tr></tr>
  <a href="/catalogue">
    <button (click)="showMe()" href="/catalogue">
      Go to catalogue founisseur
    </button>
  </a>
  <tr></tr>
</div>
