<td>
  <div>
    {{ stock.idStock }}
  </div>
</td>
<td>
  <div>
    {{ stock.volumeTot }}
  </div>
</td>
<td>
  <div *ngIf="visible == false">
    {{ stock.seuilLimite }}
  </div>
  <div *ngIf="visible == true">
    <input
      type="number"
      [(ngModel)]="stock.seuilLimite"
      [placeholder]="stock.seuilLimite"
    />
  </div>
</td>
<td>
  <div>
    {{ stock.articles![0].nom }}
  </div>
</td>
<td>
  <div class="form-group" *ngIf="visible == true">
    <button *ngIf="role == 'Admin'" class="btn btn-primary" (click)="save()">
      valider
    </button>
  </div>
</td>

<td>
  <div class="form-group" *ngIf="visible == true">
    <button *ngIf="role == 'Admin'" class="btn btn-primary" (click)="cancel()">
      Annuler
    </button>
  </div>
</td>

<td>
  <div class="form-group" *ngIf="visible == false">
    <button
      *ngIf="role == 'Admin'"
      class="btn btn-primary"
      (click)="modifier()"
    >
      modifier
    </button>
  </div>
</td>
