<td>
  <div>
    <div *ngIf="visible == false">{{ stock.idStock }}</div>
    <div *ngIf="visible == true">
      <input type="text" />
    </div>
  </div>
</td>
<td>
  <div *ngIf="visible == false">
    {{ stock.volumeTot }}
  </div>
  <div *ngIf="visible == true">
    <input type="text" />
  </div>
</td>
<td>
  <div *ngIf="visible == false">
    {{ stock.seuilLimite }}
  </div>
  <div *ngIf="visible == true">
    <input type="text" />
  </div>
</td>
<td>
  <div *ngIf="visible == false">
    {{ stock.articles![0].nom }}
  </div>
  <div *ngIf="visible == true">
    <input type="text" />
  </div>
</td>
<td>
  <div class="form-group" *ngIf="visible == true">
    <button
      *ngIf="role == 'Admin'"
      class="btn btn-primary"
      (click)="validation()"
    >
      valider
    </button>
  </div>
</td>

<td>
  <div class="form-group" *ngIf="visible == true">
    <button
      *ngIf="role == 'Admin'"
      class="btn btn-primary"
      (click)="validation()"
    >
      supprimer
    </button>
  </div>
</td>

<td>
  <div class="form-group" *ngIf="visible == false">
    <button
      *ngIf="role == 'Admin'"
      class="btn btn-primary"
      (click)="modifier()"
    >
      modifier
    </button>
  </div>
</td>
